{% extends 'base.html' %} 
{% load static %}

{% block content %}
<main class="main-blog">
    <div class="main-blog__content">
        <img src="img/pc-img.jpg" alt="">
        <article class="blog-content__article">
            <h4>Noticia</h4>
            <h1>Título de Blogspost</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Maiores excepturi, exercitationem assumenda tenetur neque,
                 atque, voluptatibus ex dignissimos dolor tempora cupiditate 
                 corrupti possimus mollitia accusamus quos eos at accusantium 
                 quas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                 Maiores excepturi, exercitationem assumenda tenetur neque,
                  atque, voluptatibus ex dignissimos dolor tempora cupiditate 
                  corrupti possimus mollitia accusamus quos eos at accusantium 
                  quas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                  Maiores excepturi, exercitationem assumenda tenetur neque,
                   atque, voluptatibus ex dignissimos dolor tempora cupiditate 
                   corrupti possimus mollitia accusamus quos eos at accusantium 
                   quas!Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                   Maiores excepturi, exercitationem assumenda tenetur neque,
                    atque, voluptatibus ex dignissimos dolor tempora cupiditate 
                    corrupti possimus mollitia accusamus quos eos at accusantium 
                    quas!Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Maiores excepturi, exercitationem assumenda tenetur neque,
                     atque, voluptatibus ex dignissimos dolor tempora cupiditate 
                     corrupti possimus mollitia accusamus quos eos at accusantium 
                     quas!
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Maiores excepturi, exercitationem assumenda tenetur neque, 
                atque, voluptatibus ex dignissimos dolor tempora cupiditate
                corrupti possimus mollitia accusamus quos eos at 
                accusantium quas!Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Maiores excepturi, exercitationem assumenda tenetur neque, 
                atque, voluptatibus ex dignissimos dolor tempora cupiditate
                corrupti possimus mollitia accusamus quos eos at 
                accusantium quas!Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Maiores excepturi, exercitationem assumenda tenetur neque, 
                atque, voluptatibus ex dignissimos dolor tempora cupiditate
                corrupti possimus mollitia accusamus quos eos at 
                accusantium quas!
            </p>    
            <br>      
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores excepturi, exercitationem assumenda tenetur neque, atque, voluptatibus ex dignissimos dolor tempora cupiditate corrupti possimus mollitia accusamus quos eos at accusantium quas!
            </p>
        </article>
    </div>
</main>
{% endblock %}


